<div class="container">
  <div class="row ">
    <div class="col p-3">
      <div class="d-flex justify-content-center">
        <h5>Registrado de Usuario</h5>
      </div>
    </div>
    <div class="row">
      <div class="p-3">
        <button [routerLink]="['/inicio']" type="button" class="btn btn-danger">Atras</button>
      </div>
      <div class="p-3">
        <button (click)="registro()" type="button" class="btn btn-success" *ngIf="!data.id">Registrar</button>
        <button (click)="blur('todos')" type="button" class="btn btn-success" *ngIf="data.id">Actualizar</button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="column">
      <div class="row">
        <div class="form-group col-sm-2">
          <label>Cedula</label>
          <input type="text" class="form-control" placeholder="Cedula" [(ngModel)]="data.cedula"
            (blur)="blur('cedula')">
        </div>
        <div class="form-group col-sm-2">
          <div style="margin-top:30px ;"><button (click)="buscar()" type="button" class="btn btn-success">Buscar
              Usuario</button></div>
        </div>
        <div class="form-group col-sm-4">
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="data.nombre"
            (blur)="blur('nombre')">
        </div>
        <div class="form-group col-sm-4">
          <label>Apellido</label>
          <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="data.apellido"
            (blur)="blur('apellido')">
        </div>
        <div class="form-group col-sm-4">
          <label>Puesto de Votación</label>
          <input type="text" class="form-control" placeholder="Puesto" [(ngModel)]="data.puesto"
            (blur)="blur('puesto')">
        </div>
        <div class="form-group col-sm-4">
          <label>Comuna</label>
          <input type="text" class="form-control" placeholder="Comuna" [(ngModel)]="data.comuna"
            (blur)="blur('comuna')">
        </div>
        <div class="form-group col-sm-4">
          <label>Telefono</label>
          <input type="text" class="form-control" placeholder="telefono o celular" [(ngModel)]="data.telefono"
            (blur)="blur('telefono')">
        </div>
        <div class="form-group col-sm-6">
            <label>Mesa de Votacion</label>
          <input type="text" class="form-control" placeholder="Mesa" [(ngModel)]="data.mesa"
            (blur)="blur('mesa')">
        </div>
        <div class="form-group col-sm-6">
            <label>Direccion</label>
          <input type="text" class="form-control" placeholder="Direccion" [(ngModel)]="data.direccion"
            (blur)="blur('direccion')">
        </div>
      </div>
    </div>
  </div>
</div>